{% extends 'base.html' %}
{% block content %}
<div class="presentation">
  <h2>Tableau de bord Admin</h2>
  <p>Liste complète des contacts — modification et suppression possibles.</p>
</div>

<table>
  <thead><tr>
    <th>ID</th><th>Nom</th><th>Prénom</th><th>Profession</th><th>Portable</th><th>Fixe</th><th>Email</th><th>Actions</th>
  </tr></thead>
  <tbody>
    {% for c in contacts %} <!--Pour chaque contact afficher (sous forme de lignes)-->
    <tr>
      <td>{{ c['id_contact'] }}</td>
      <td>{{ c['nom'] }}</td>
      <td>{{ c['prenom'] }}</td>
      <td>{{ c['profession'] or '' }}</td>
      <td>{{ c['phone_portable'] or '' }}</td>
      <td>{{ c['phone_fixe'] or '' }}</td>
      <td>{{ c['email'] or '' }}</td>
      <td>
        <a href="{{ url_for('edit', id_contact=c['id_contact']) }}">Éditer</a> <!--Editer et suppr seront tout le temps affiché pour chaque ligne car on est dans le tableaud e bord de l'admin-->
        <a href="{{ url_for('admin_confirm_delete', id_contact=c['id_contact']) }}">Suppr.</a>
      </td>
    </tr>
    {% else %}
    <tr><td colspan="8">Aucun contact</td></tr>
    {% endfor %}
  </tbody>
</table>

<a class="button-link" href="{{ url_for('admin_logout') }}">Se déconnecter (admin)</a>
{% endblock %}
