{% extends 'base.html' %}
{% block content %}
<div class="form-container">
  <h2>Modifier la personne</h2>
  <form method="post">
    <label>Nom</label><input name="nom" value="{{ person['nom'] }}" required> <!--required = champ à renseigner obligatoirement-->
    <label>Prénom</label><input name="prenom" value="{{ person['prenom'] }}" required>
    <label>Date de naissance</label><input name="date_naissance" value="{{ person['date_naissance'] or '' }}" placeholder="YYYY-MM-DD">
    <label>Adresse</label><input name="adresse" value="{{ person['adresse'] or '' }}">
    <label>Profession</label><input name="profession" value="{{ person['profession'] or '' }}">
    <label>Téléphone fixe</label><input name="phone_fixe" value="{{ person['phone_fixe'] or '' }}">
    <label>Téléphone portable</label><input name="phone_portable" value="{{ person['phone_portable'] or '' }}">
    <label>Email</label><input name="email" value="{{ person['email'] or '' }}" type="email">
    <button>Enregistrer</button>
  </form>
  <a class="button-link" href="{{ url_for('index') }}">Retour</a>
</div>
{% endblock %}
